@media(max-width:767px){
  .champ-type-title {
    font-size: 40px;
  }
  .region-kills {
    font-size: 32px; 
  }
}

@media(min-width:768px){
  .champ-type-title {
    font-size: 50px;
  }
  .region-kills {
    font-size: 40px; 
  }
}

@media(min-width:992px){
  .champ-type-title {
    font-size: 60px;
  }
  .region-kills {
    font-size: 50px; 
  }
}

@media(min-width:1200px){
  .champ-type-title {
    font-size: 80px;
  }
  .region-kills {
    font-size: 64px; 
  }
}

.cs-stat-img-text {
  position:absolute;
  color:white;
  z-index:100;
}

.cs-stat-img-heading {
  font-size:24px;
  left:30px;
}

.cs-stat-img-value {
  font-size:54px;
  left:50px;
}

.total-mins-killed {
  top:350px;
  left:30px;
}

.top-3-header {
  margin-bottom: 40px;
}

.champ-type-title {
  color: white;
  text-shadow: -1px 0 black, 0 3px black, 2px 0 black, 0 -1px black;
}

.champ-type-blurb {
  color: white;
  font-size: 23px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.region-img {
  float: left;
  height: 150px;
}

.clickable {
  cursor:pointer;
}

.region-txt {
  color: white;
  display: inline-block; 
  vertical-align: middle;
}

.item-img {
  float: left;
  height: 80px;
}

.urf-champs {
  background: #000;
  background-image: url('../urf_background.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}

.item-region-background {
  background-color: rgba(0,0,0,.8);
}