.cs-stat-img-text {
  position:absolute;
  color:white;
  z-index:100;
}

.cs-stat-img-heading {
  font-size:24px;
  left:30px;
}

.cs-stat-img-value {
  font-size:54px;
  left:50px;
}

.total-mins-killed {
  top:350px;
  left:30px;
}

.top-3-header {
  margin-bottom: 40px;
}

.champ-type-title {
  color: white;
  font-size: 80px;
  text-shadow: -1px 0 black, 0 3px black, 2px 0 black, 0 -1px black;
}

.champ-type-blurb {
  color: white;
  font-size: 23px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}
